<p style="color: green"><%= notice %></p>

<div class="groups">
    <%= render @group %>
</div>

<div class="groups-options">
  <%= link_to "Edit this group", edit_group_path(@group) %> |
  <%= link_to "Back to groups", groups_path %>

  <%= button_to "Destroy this group", @group, method: :delete %>
</div>

<div class="total-amount">
  <%= "Total amount: $#{@group.total_amount}" %>
</div>

<div class="transactions">
  <%= render @group.expenses.order(created_at: :desc) %>
</div>

<%= link_to "New Transaction", new_group_expense_path(@group), class: 'btn-tertiary' %>